[paths]
source =
   src/piwik_tracker
   */site-packages/piwik_tracker

[run]
branch = True
source =
    piwik_tracker
    tests
parallel = true

[report]
show_missing = true
precision = 2
omit = *migrations*
